<h2>{{title}}</h2>

{{#if todos.length}}
   <ul>
      {{#each todos}}
         <li class="todo">
            <form action="/complete" method="POST">
               <label>
                  {{#if completed}}
                     <input type="checkbox" checked />
                     <span class="completed">{{title}}</span>
                     <button class="btn btn-small" type="submit">Cancel</button>
                  {{else}}
                     <input type="checkbox" />
                     <span>{{title}}</span>
                     <button class="btn btn-small" type="submit">Done</button>
                  {{/if}}
                  <input type="hidden" value="{{_id}}" name="id" />
               </label>
            </form>
         </li>
      {{/each}}
   </ul>
{{else}}
   <p>No todos</p>
{{/if}}